body[
    font-family: 'Ubuntu', sans-serif;
]

#contactName {
    text-align: center;
}
#contactPhoto {
    display: block;
    margin: 0 auto;
}
#contactDescription {
    text-align: center;
    margin: 20px;
}
#textL {
    text-align: center;
    margin: 34px;
}