body {
    background-color: pink;
    margin: 0;
}
/* Targeting a class in CSS - every element wiht the class of header will recieve theres CSS rules */
.header {
    background-color: white;
    overflow: hidden;
}
.headerLink {
    padding: 5px 10px;
    text-decoration: none;
    color: darkred;
    font-size: 18pt;
}
/* Target an ID in CSS - the elementwith the Id of homeLink will recieve theses CSS rules */
#homeLink {
    float: left;
}
#aboutLink {
    float: right;
}